@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff4d00;
  --secondary: #e5e5e5;
  --muted: #737373;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-inter);
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}
